

body {
    margin: 0;
    width: 100%;
    height: 100%;
}

#container {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

#header {
    background: linear-gradient(#303030, #000000);
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    z-index: 0;
}

#titlelogo {
    display: flex;
    float: left;
    height: 100%;
}

#title {
    float: left;
    color: white;
    height: 100%;
    line-height: 100%;
    display: flex;
    font-size: 40px;
    padding-left: 30px;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
}

#authors {
    float: right;
}

.author {
    padding: 0;
    margin: 0;
    color: dodgerblue;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    justify-content: end;
    align-items: end;
    font-size: 15px;
}

.authora:link {
    color: dodgerblue;
    text-decoration: none;
}

.authora:visited {
    color: dodgerblue;
    text-decoration: none;
}

.authora:hover {
    text-decoration: underline;
}

#date {
    padding: 0;
    margin: 0;
    color: white;
    display: flex;
    justify-content: end;
    align-items: end;
    font-size: 30px;
}

#body {
    height: 100%;
    position: relative;
    z-index: -1;
}

#body::after {
    background-image: url('./img/logo/main.png');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: cover;
    height: 100%;
    width: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    opacity: 0.5;
}

table {
    width: 100%;
    border-spacing: 0 0;
    margin: 0;
    padding: 0;
}

#newsongs {
    width: 40%;
    float: left;
}

#levels {
    width: 20%;
    background: linear-gradient(to top, rgb(207, 0, 91), rgb(65, 0, 68) );
    float: left;
}

#oldsongs {
    width: 40%;
    float: left;
}

.bodyhead {
    height: 30px;
    color: white;
    font-size: 25px;
    margin: 0;
    padding: 0 30px;
}

.newsong {
    text-align: right;
    background-color: rgb(207, 0, 91);
    width: 40%;
}

.oldsong {
    text-align: left;
    background-color: cornflowerblue;
    width: 40%;
}

.tlevel {
    background-color: rgb(65, 0, 68);
}

.level {
    color: white;
    font-weight: bold;
    font-size: 40px;
    margin: 5px auto;
    text-align: center;
    background-color: black;
    border-bottom: 1px solid white;
}

.inactive {
    color: gray;
}

.songn {
    width: 50px;
    height: 50px;
    margin-right: 5px;
    background-position: center;
    background-size: cover;
    float: right;
}

.songo {
    width: 50px;
    height: 50px;
    margin-left: 5px;
    background-position: center;
    background-size: cover;
    float: left;
}

.exp {
    border: 4px solid rgb(207, 0, 91);
}

.inf {
    border: 4px solid rgb(65, 0, 68);
}

.inf::after {
    content: "INF";
    color: white;
    display: inline-block;
    justify-content: end;
    font-weight: bold;
    background-color: rgb(65, 0, 68);
}



.s3062 { background-image: url('./img/album/3062.png'); }
.s3061 { background-image: url('./img/album/3061.png'); }
.s3060 { background-image: url('./img/album/3060.png'); }
.s3047 { background-image: url('./img/album/3047.png'); }
.s3037 { background-image: url('./img/album/3037.png'); }
.s3030 { background-image: url('./img/album/3030.png'); }
.s3023 { background-image: url('./img/album/3023.png'); }
.s3016 { background-image: url('./img/album/3016.png'); }
.s3003 { background-image: url('./img/album/3003.png'); }
.s2254 { background-image: url('./img/album/2254.png'); }
.s2253 { background-image: url('./img/album/2253.png'); }
.s2252 { background-image: url('./img/album/2252.png'); }
.s2251 { background-image: url('./img/album/2251.png'); }
.s2246 { background-image: url('./img/album/2246.png'); }
.s2245 { background-image: url('./img/album/2245.png'); }
.s2244 { background-image: url('./img/album/2244.png'); }
.s2243 { background-image: url('./img/album/2243.png'); }
.s2240 { background-image: url('./img/album/2240.png'); }
.s2228 { background-image: url('./img/album/2228.png'); }
.s2227 { background-image: url('./img/album/2227.png'); }
.s2204 { background-image: url('./img/album/2204.png'); }
.s2203 { background-image: url('./img/album/2203.png'); }
.s2202 { background-image: url('./img/album/2202.png'); }
.s2067 { background-image: url('./img/album/2067.png'); }
.s2066 { background-image: url('./img/album/2066.png'); }
.s2058 { background-image: url('./img/album/2058.png'); }
.s2043 { background-image: url('./img/album/2043.png'); }
.s2031 { background-image: url('./img/album/2031.png'); }
.s2030 { background-image: url('./img/album/2030.png'); }
.s2029 { background-image: url('./img/album/2029.png'); }
.s2028 { background-image: url('./img/album/2028.png'); }
.s2027 { background-image: url('./img/album/2027.png'); }
.s2024 { background-image: url('./img/album/2024.png'); }
.s2023 { background-image: url('./img/album/2023.png'); }
.s2021 { background-image: url('./img/album/2021.png'); }
.s2017 { background-image: url('./img/album/2017.png'); }
.s2003 { background-image: url('./img/album/2003.png'); }
.s2002 { background-image: url('./img/album/2002.png'); }
.s2001 { background-image: url('./img/album/2001.png'); }
.s1273 { background-image: url('./img/album/1273.png'); }
.s1270 { background-image: url('./img/album/1270.png'); }
.s1269 { background-image: url('./img/album/1269.png'); }
.s1264 { background-image: url('./img/album/1264.png'); }
.s1238 { background-image: url('./img/album/1238.png'); }
.s1237 { background-image: url('./img/album/1237.png'); }
.s1236 { background-image: url('./img/album/1236.png'); }
.s1219 { background-image: url('./img/album/1219.png'); }
.s1218 { background-image: url('./img/album/1218.png'); }
.s1206 { background-image: url('./img/album/1206.png'); }
.s1205 { background-image: url('./img/album/1205.png'); }
.s1204 { background-image: url('./img/album/1204.png'); }
.s1203 { background-image: url('./img/album/1203.png'); }
.s1125 { background-image: url('./img/album/1125.png'); }
.s1124 { background-image: url('./img/album/1124.png'); }
.s1114 { background-image: url('./img/album/1114.png'); }
.s1113 { background-image: url('./img/album/1113.png'); }
.s1109 { background-image: url('./img/album/1109.png'); }
.s1098 { background-image: url('./img/album/1098.png'); }
.s1095 { background-image: url('./img/album/1095.png'); }
.s1092 { background-image: url('./img/album/1092.png'); }
.s1091 { background-image: url('./img/album/1091.png'); }
.s1090 { background-image: url('./img/album/1090.png'); }
.s1089 { background-image: url('./img/album/1089.png'); }
.s1088 { background-image: url('./img/album/1088.png'); }
.s1027 { background-image: url('./img/album/1027.png'); }
.s1021 { background-image: url('./img/album/1021.png'); }
.s1020 { background-image: url('./img/album/1020.png'); }
.s1018 { background-image: url('./img/album/1018.png'); }
.s1011 { background-image: url('./img/album/1011.png'); }
.s1010 { background-image: url('./img/album/1010.png'); }
.s1009 { background-image: url('./img/album/1009.png'); }
.s1008 { background-image: url('./img/album/1008.png'); }
.s26 { background-image: url('./img/album/26.png'); }


.s1204::after {
    content: "お願いマッスル";
    color: white;
    display: inline-block;
    justify-content: end;
    font-weight: bold;
    font-size: 10px;
    background-color: rgba(0,0,0,0.5);
}
.s1236::after {
    content: "ぼなぺてぃーと♡S";
    color: white;
    display: inline-block;
    justify-content: end;
    font-weight: bold;
    font-size: 10px;
    background-color: rgba(0,0,0,0.5);
}
.s1237::after {
    content: "デタラメなマイナス";
    color: white;
    display: inline-block;
    justify-content: end;
    font-weight: bold;
    font-size: 10px;
    background-color: rgba(0,0,0,0.5);
}
.s2043::after {
    content: "マッチョアネーム？";
    color: white;
    display: inline-block;
    justify-content: end;
    font-weight: bold;
    font-size: 10px;
    background-color: rgba(0,0,0,0.5);
}