

body {
    margin: 0;
    width: 100%;
    height: 100%;
}

#container {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

#header {
    background: linear-gradient(#303030, #000000);
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    z-index: 0;
}

#titlelogo {
    display: flex;
    float: left;
    height: 100%;
}

#title {
    float: left;
    color: white;
    height: 100%;
    line-height: 100%;
    display: flex;
    font-size: 40px;
    padding-left: 30px;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
}

#authors {
    float: right;
}

.author {
    padding: 0;
    margin: 0;
    color: dodgerblue;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    justify-content: end;
    align-items: end;
    font-size: 15px;
}

.authora:link {
    color: dodgerblue;
    text-decoration: none;
}

.authora:visited {
    color: dodgerblue;
    text-decoration: none;
}

.authora:hover {
    text-decoration: underline;
}

#date {
    padding: 0;
    margin: 0;
    color: white;
    display: flex;
    justify-content: end;
    align-items: end;
    font-size: 30px;
}

#body {
    position: relative;
    z-index: -1;
}

#body::after {
    background-image: url('./img/logo/main.png');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    opacity: 0.5;
}

table {
    width: 100%;
    border-spacing: 0 0;
    margin: 0;
    padding: 0;
}

#newsongs {
    width: 40%;
    float: left;
}

#levels {
    width: 20%;
    background: linear-gradient(to top, rgb(207, 0, 91), rgb(65, 0, 68) );
    float: left;
}

#oldsongs {
    width: 40%;
    float: left;
}

.bodyhead {
    height: 30px;
    color: white;
    font-size: 25px;
    margin: 0;
    padding: 0 30px;
}

.newsong {
    text-align: right;
    background-color: rgb(207, 0, 91);
    width: 40%;
}

.oldsong {
    text-align: left;
    background-color: cornflowerblue;
    width: 40%;
}

.tlevel {
    background-color: rgb(65, 0, 68);
}

.level {
    color: white;
    font-weight: bold;
    font-size: 40px;
    margin: 5px auto;
    text-align: center;
    background-color: black;
    border-bottom: 1px solid white;
}

.inactive {
    color: gray;
}

.songn {
    width: 50px;
    height: 50px;
    margin-right: 5px;
    background-position: center;
    background-size: cover;
    float: right;
}

.songo {
    width: 50px;
    height: 50px;
    margin-left: 5px;
    background-position: center;
    background-size: cover;
    float: left;
}

.exp {
    border: 4px solid rgb(207, 0, 91);
}

.inf {
    border: 4px solid rgb(65, 0, 68);
}

.inf::after {
    content: "INF";
    color: white;
    display: inline-block;
    justify-content: end;
    font-weight: bold;
    background-color: rgb(65, 0, 68);
}

.levelborder {
    border-bottom: 1px solid rgba(150, 150, 150, 0.8);
}


.s3062 { background-image: url('./img/album/3062.png'); }
.s3061 { background-image: url('./img/album/3061.png'); }
.s3060 { background-image: url('./img/album/3060.png'); }
.s3059 { background-image: url('./img/album/3059.png'); }
.s3050 { background-image: url('./img/album/3050.png'); }
.s3049 { background-image: url('./img/album/3049.png'); }
.s3048 { background-image: url('./img/album/3048.png'); }
.s3047 { background-image: url('./img/album/3047.png'); }
.s3037 { background-image: url('./img/album/3037.png'); }
.s3035 { background-image: url('./img/album/3035.png'); }
.s3030 { background-image: url('./img/album/3030.png'); }
.s3029 { background-image: url('./img/album/3029.png'); }
.s3026 { background-image: url('./img/album/3026.png'); }
.s3025 { background-image: url('./img/album/3025.png'); }
.s3024 { background-image: url('./img/album/3024.png'); }
.s3023 { background-image: url('./img/album/3023.png'); }
.s3016 { background-image: url('./img/album/3016.png'); }
.s3007 { background-image: url('./img/album/3007.png'); }
.s3006 { background-image: url('./img/album/3006.png'); }
.s3005 { background-image: url('./img/album/3005.png'); }
.s3004 { background-image: url('./img/album/3004.png'); }
.s3003 { background-image: url('./img/album/3003.png'); }
.s2254 { background-image: url('./img/album/2254.png'); }
.s2253 { background-image: url('./img/album/2253.png'); }
.s2252 { background-image: url('./img/album/2252.png'); }
.s2251 { background-image: url('./img/album/2251.png'); }
.s2246 { background-image: url('./img/album/2246.png'); }
.s2245 { background-image: url('./img/album/2245.png'); }
.s2244 { background-image: url('./img/album/2244.png'); }
.s2243 { background-image: url('./img/album/2243.png'); }
.s2240 { background-image: url('./img/album/2240.png'); }
.s2239 { background-image: url('./img/album/2239.png'); }
.s2238 { background-image: url('./img/album/2238.png'); }
.s2228 { background-image: url('./img/album/2228.png'); }
.s2227 { background-image: url('./img/album/2227.png'); }
.s2226 { background-image: url('./img/album/2226.png'); }
.s2225 { background-image: url('./img/album/2225.png'); }
.s2224 { background-image: url('./img/album/2224.png'); }
.s2223 { background-image: url('./img/album/2223.png'); }
.s2222 { background-image: url('./img/album/2222.png'); }
.s2216 { background-image: url('./img/album/2216.png'); }
.s2215 { background-image: url('./img/album/2215.png'); }
.s2214 { background-image: url('./img/album/2214.png'); }
.s2206 { background-image: url('./img/album/2206.png'); }
.s2205 { background-image: url('./img/album/2205.png'); }
.s2204 { background-image: url('./img/album/2204.png'); }
.s2203 { background-image: url('./img/album/2203.png'); }
.s2202 { background-image: url('./img/album/2202.png'); }
.s2092 { background-image: url('./img/album/2092.png'); }
.s2078 { background-image: url('./img/album/2078.png'); }
.s2077 { background-image: url('./img/album/2077.png'); }
.s2076 { background-image: url('./img/album/2076.png'); }
.s2067 { background-image: url('./img/album/2067.png'); }
.s2066 { background-image: url('./img/album/2066.png'); }
.s2058 { background-image: url('./img/album/2058.png'); }
.s2043 { background-image: url('./img/album/2043.png'); }
.s2042 { background-image: url('./img/album/2042.png'); }
.s2040 { background-image: url('./img/album/2040.png'); }
.s2039 { background-image: url('./img/album/2039.png'); }
.s2038 { background-image: url('./img/album/2038.png'); }
.s2034 { background-image: url('./img/album/2034.png'); }
.s2033 { background-image: url('./img/album/2033.png'); }
.s2032 { background-image: url('./img/album/2032.png'); }
.s2031 { background-image: url('./img/album/2031.png'); }
.s2030 { background-image: url('./img/album/2030.png'); }
.s2029 { background-image: url('./img/album/2029.png'); }
.s2028 { background-image: url('./img/album/2028.png'); }
.s2027 { background-image: url('./img/album/2027.png'); }
.s2024 { background-image: url('./img/album/2024.png'); }
.s2023 { background-image: url('./img/album/2023.png'); }
.s2021 { background-image: url('./img/album/2021.png'); }
.s2017 { background-image: url('./img/album/2017.png'); }
.s2009 { background-image: url('./img/album/2009.png'); }
.s2008 { background-image: url('./img/album/2008.png'); }
.s2007 { background-image: url('./img/album/2007.png'); }
.s2006 { background-image: url('./img/album/2006.png'); }
.s2005 { background-image: url('./img/album/2005.png'); }
.s2004 { background-image: url('./img/album/2004.png'); }
.s2003 { background-image: url('./img/album/2003.png'); }
.s2002 { background-image: url('./img/album/2002.png'); }
.s2001 { background-image: url('./img/album/2001.png'); }
.s1274 { background-image: url('./img/album/1274.png'); }
.s1273 { background-image: url('./img/album/1273.png'); }
.s1272 { background-image: url('./img/album/1272.png'); }
.s1270 { background-image: url('./img/album/1270.png'); }
.s1269 { background-image: url('./img/album/1269.png'); }
.s1265 { background-image: url('./img/album/1265.png'); }
.s1264 { background-image: url('./img/album/1264.png'); }
.s1246 { background-image: url('./img/album/1246.png'); }
.s1245 { background-image: url('./img/album/1245.png'); }
.s1244 { background-image: url('./img/album/1244.png'); }
.s1240 { background-image: url('./img/album/1240.png'); }
.s1239 { background-image: url('./img/album/1239.png'); }
.s1238 { background-image: url('./img/album/1238.png'); }
.s1237 { background-image: url('./img/album/1237.png'); }
.s1236 { background-image: url('./img/album/1236.png'); }
.s1229 { background-image: url('./img/album/1229.png'); }
.s1228 { background-image: url('./img/album/1228.png'); }
.s1227 { background-image: url('./img/album/1227.png'); }
.s1226 { background-image: url('./img/album/1226.png'); }
.s1224 { background-image: url('./img/album/1224.png'); }
.s1222 { background-image: url('./img/album/1222.png'); }
.s1221 { background-image: url('./img/album/1221.png'); }
.s1219 { background-image: url('./img/album/1219.png'); }
.s1218 { background-image: url('./img/album/1218.png'); }
.s1211 { background-image: url('./img/album/1211.png'); }
.s1210 { background-image: url('./img/album/1210.png'); }
.s1209 { background-image: url('./img/album/1209.png'); }
.s1208 { background-image: url('./img/album/1208.png'); }
.s1207 { background-image: url('./img/album/1207.png'); }
.s1206 { background-image: url('./img/album/1206.png'); }
.s1205 { background-image: url('./img/album/1205.png'); }
.s1204 { background-image: url('./img/album/1204.png'); }
.s1203 { background-image: url('./img/album/1203.png'); }
.s1126 { background-image: url('./img/album/1126.png'); }
.s1125 { background-image: url('./img/album/1125.png'); }
.s1124 { background-image: url('./img/album/1124.png'); }
.s1119 { background-image: url('./img/album/1119.png'); }
.s1118 { background-image: url('./img/album/1118.png'); }
.s1114 { background-image: url('./img/album/1114.png'); }
.s1113 { background-image: url('./img/album/1113.png'); }
.s1109 { background-image: url('./img/album/1109.png'); }
.s1108 { background-image: url('./img/album/1108.png'); }
.s1107 { background-image: url('./img/album/1107.png'); }
.s1100 { background-image: url('./img/album/1100.png'); }
.s1099 { background-image: url('./img/album/1099.png'); }
.s1098 { background-image: url('./img/album/1098.png'); }
.s1095 { background-image: url('./img/album/1095.png'); }
.s1093 { background-image: url('./img/album/1093.png'); }
.s1092 { background-image: url('./img/album/1092.png'); }
.s1091 { background-image: url('./img/album/1091.png'); }
.s1090 { background-image: url('./img/album/1090.png'); }
.s1089 { background-image: url('./img/album/1089.png'); }
.s1088 { background-image: url('./img/album/1088.png'); }
.s1042 { background-image: url('./img/album/1042.png'); }
.s1041 { background-image: url('./img/album/1041.png'); }
.s1037 { background-image: url('./img/album/1037.png'); }
.s1036 { background-image: url('./img/album/1036.png'); }
.s1035 { background-image: url('./img/album/1035.png'); }
.s1032 { background-image: url('./img/album/1032.png'); }
.s1031 { background-image: url('./img/album/1031.png'); }
.s1030 { background-image: url('./img/album/1030.png'); }
.s1027 { background-image: url('./img/album/1027.png'); }
.s1021 { background-image: url('./img/album/1021.png'); }
.s1020 { background-image: url('./img/album/1020.png'); }
.s1018 { background-image: url('./img/album/1018.png'); }
.s1016 { background-image: url('./img/album/1016.png'); }
.s1015 { background-image: url('./img/album/1015.png'); }
.s1014 { background-image: url('./img/album/1014.png'); }
.s1013 { background-image: url('./img/album/1013.png'); }
.s1011 { background-image: url('./img/album/1011.png'); }
.s1010 { background-image: url('./img/album/1010.png'); }
.s1009 { background-image: url('./img/album/1009.png'); }
.s1008 { background-image: url('./img/album/1008.png'); }
.s1002 { background-image: url('./img/album/1002.png'); }
.s1001 { background-image: url('./img/album/1001.png'); }
.s31 { background-image: url('./img/album/31.png'); }
.s30 { background-image: url('./img/album/30.png'); }
.s27 { background-image: url('./img/album/27.png'); }
.s26 { background-image: url('./img/album/26.png'); }


.s1204::after {
    content: "お願いマッスル";
    color: white;
    display: inline-block;
    justify-content: end;
    font-weight: bold;
    font-size: 10px;
    background-color: rgba(0,0,0,0.5);
}
.s1236::after {
    content: "ぼなぺてぃーと♡S";
    color: white;
    display: inline-block;
    justify-content: end;
    font-weight: bold;
    font-size: 10px;
    background-color: rgba(0,0,0,0.5);
}
.s1237::after {
    content: "デタラメなマイナス";
    color: white;
    display: inline-block;
    justify-content: end;
    font-weight: bold;
    font-size: 10px;
    background-color: rgba(0,0,0,0.5);
}
.s2043::after {
    content: "マッチョアネーム？";
    color: white;
    display: inline-block;
    justify-content: end;
    font-weight: bold;
    font-size: 10px;
    background-color: rgba(0,0,0,0.5);
}
